<h2>Admin Panel</h2>
{{new-item saveItem='saveItem'}}

{{#each model as |item|}}
  {{item-detail item=item}}
  {{update-item item=item updateItem='updateItem'}}
  {{remove-item item=item destroyItem='destroyItem'}}
{{/each}}
