<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">{{#link-to 'index'}}Clothing Land{{/link-to}}</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">

        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'store'}}Store{{/link-to}}</li>
        <li>{{#link-to 'cart'}}{{cart-total}}{{/link-to}}</li>
        <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>

      </ul>
    </div>
  </div>
</nav>

{{outlet}}
