{{#link-to 'store'}}<h5>Back To Store</h5>{{/link-to}}
{{item-detail item=model}}
{{add-to-cart product=model}}
{{new-review saveReview="saveReview" item=model}}

{{review-list reviews=model.reviews}}
