{{#link-to 'store'}}<h4>Back To Store</h4>{{/link-to}}
<div class="item-detail">
  {{item-detail item=model}}
  {{add-to-cart product=model}}
  {{new-review saveReview="saveReview" item=model}}
</div>
{{review-list reviews=model.reviews}}
